body { 
background-image: url(background2.jpg);
}

button { 
	color: red;
	width: 150px;
	height: 50px;
	position: relative;
		top: 100px;
		left:	200px;

}

.player { 
	height: 250px;
	width: 500px;
	background: grey;
	position: relative;
		top: 200px;
		left: 450px;
		



 }

.dealer { 
	height: 250px;
	width: 500px;
	background: grey;
	position: relative;
		left: 450px;
		


  }


  .card { 
  	width: 75px;
		height: 100px;
  	background-image:url(Cards/Clubs/10.jpg);
  	position: relative;
  		top: 50px;
  		left: 500px;
  		display: inline-block;
   }











